h1 {
    color: burlywood;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: Georgia;
    text-align: center;
}
.dog_ipsum {
    color:yellow;
    font-weight: bold;
    border: 1px dotted purple;
}

.random {
    color:salmon;
    font-style: italic;
    font-weight: bold;
    border: 1px dotted green;
}

img {
    max-width: 200px;
    height: auto;
}
.info {
    color: darkolivegreen;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bolder;
}

body {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/2/27/Bliss_%28Windows_XP%29.png);
    background-repeat: no-repeat;
    background-size: cover;
}